a.out
t/dna.001.1
t/dna.001.1.gz
t/english.001.2
t/english.001.2.gz
t/Escherichia_Coli
t/Escherichia_Coli.gz
t/fib41
t/fib41.gz
t/kernel
t/kernel.gz
t/output
t/pkdpg.txt.btype00
t/pkdpg.txt.btype01
t/pkdpg.txt.btype10
t/proteins.001.1
t/proteins.001.1.gz
t/rs.13
t/rs.13.gz
t/tm29
t/tm29.gz
t/world_leaders
t/world_leaders.gz
